.Dictionary form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.Dictionary section {
  border-radius: 6px;
  padding: 30px;
  margin: 20px 0;
  background-color: white;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  max-width: 1000px;
}

.Dictionary h1 {
  font-size: 28px;
  font-weight: bold;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 12px;
}
